<?php

$currentProduct = $block->getCurrentProduct();
$productId = $currentProduct->getId();
$productName = $currentProduct->getName();
$stockStatus = $currentProduct->getData('quantity_and_stock_status');
$stock = $stockStatus['is_in_stock'];

//Check If Customer is logged In
if($block->checkLogin())
{
  $customerName = $block->getCustomerName();
  $customerId = $block->getCustomerId();
  
}
//If Not Logged in, Display a link to redirect to login Page
else if(!$block->checkLogin() && $stock == false)
{
    $url = $block->getLoginPageUrl().'customer/account/login';
    echo "<a href='$url'> Please login to get updates about when this product will be back </a>";
}


//If product is out of stock and customer is logged in
if ($stock == false && $block->checkLogin()) : ?>

    <div class="content">
        <form class="form subscriber" action="subscriber/add/create" method="post" id="subscribe" data-mage-init='{"validation":{}}'>
            <div class="field newsletter">
                <div class="control">
                    <label for="newsletter">
                        <p class="label" style="color:red">
                            This Product is out of stock.We will let you know when it is available</p>
                        <input type="email" id="sub" name="email" class="input-text required-entry" data-validate="{required:true, 'validate-email':true}" autocomplete="off" aria-required="true" 
                        style="margin-bottom:20px;" placeholder="Enter Email To Get Notified">
                        <input name="product_id" type="hidden" value="<?php echo $productId ?>">
                        <input name="customer_id" type="hidden" value="<?php echo $customerId ?>">
                        <input name="customer_name" type="hidden" value="<?php echo $customerName ?>">
                        <input name="product_name" type="hidden" value="<?php echo $productName ?>">
                        <input name="stock" type="hidden" value="out of stock" >
                    </label>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary" title="Subscribe" type="submit" aria-label="Subscribe">
                    <span>Notify Me</span>
                </button>
            </div>
        </form>
    </div>
<?php endif ?>

