<!DOCTYPE html>
<html  style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Alerts e.g. approaching your limit</title>
<style type="text/css">
img {
max-width: 40% !important;
max-height:40% !important;
margin-bottom: 20px;
}
body {
-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em;
}
body {
background-color: #f6f6f6;
}

h3
{
  text-transform: capitalize;
}
.primary
{
  border:none;
  padding:10px 25px;
  border-radius: 4px;
  color:white;
  cursor: pointer;
}
p
{
  text-transform: capitalize;
}

</style>
</head>

<body style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">

    {{template config_path="design/email/header_template"}}

    <div class="container">
      <p>{{trans "Dear"}} <strong>{{var name}}</strong></p>
      <p>{{trans"The Product which you were interested in is back in stock."}}</p>
      <h3><strong>{{var productname}}</strong> {{trans"is Now back in Stock."}}</h3>
      <img src="{{media url ='$productimg'}}">
    </div>
    <div class="button container">
      <button class="primary" style="background: #1979c3;">
        <a style="color:white" href="{{var producturl}}">View Product</a>
      </button>
    </div>
   

    {{template config_path="design/email/footer_template"}}
</body>
</html>